{% extends 'base.html' %} 
{% block head %} 
  <title>Register</title>
{% endblock %} 
{% block content %} 
  <form class="user-form" action="/register" method="POST">
    <div><div>Username:</div><input type="text" name="username"></div>
    <div><div>Email:</div><input type="text" name="email"></div>
    <div><div>Password:</div><input type="text" name="password1"></div>
    <div><div>Password (again):</div><input type="text" name="password2"></div>
    <input type="submit" value="Register">
  </form>
{% endblock %}