{% extends 'base.html' %} 
{% block head %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vote.css')}}">
  <script defer src="{{ url_for('static', filename='js/vote.js') }}"></script>
  <title>Voting On: {{question[1]}}</title>
{% endblock %} 
{% block content %} 
  <div><h1>{{question[1]}}</h1></div>
  <form class="vote-form" action="/vote/{{question[0]}}" method="POST">
    {% if has_voted %}
     {% for choice in choices %}
      <div>{{choice[1]}} {{choice[3]}} ({{choice[3]*100//total_votes}}%)</div>
     {% endfor %}
     <input id="btn-viewpolls" class="btn-submit" type="button" value="View Polls" onclick="window.location.href='/'">
    {% else %} 
      {% for choice in choices %}
        <div><input type="radio" name="selected_choice" value="{{choice[0]}}">{{choice[1]}}</div>
      {% endfor %}
      <input class="btn-submit" type="submit" value="Vote">
    {% endif %}
  </form>
{% endblock %}