{% extends 'base.html' %} 
{% block head %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vote.css')}}">
  <title>Voting On: {{question[1]}}</title>
{% endblock %} 
{% block content %} 
  <div><h1>{{question[1]}}</h1></div>
  <form class="vote-form" action="/vote/{{question[0]}}" method="POST">
    {% for choice in choices %}
      <div><input type="radio" name="answer" id="{{choice[0]}}">{{choice[1]}}</div>
    {% endfor %}
    <div><input class="btn-submit" type="submit" value="Vote"></div>
  </form>
{% endblock %}